@page
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Application</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<header>
    Quiz Application
</header>

<main>
    <h1 class="text-center">Welcome to the Quiz Application!</h1>

    <div class="text-center">
        <a href="/Questions" class="btn-submit">Manage Questions</a>
        <a href="/Quiz" class="btn-add">Take a Quiz</a>
    </div>
</main>
</body>
</html>